<div class="modal-header">
  <h4 class="modal-title text-center w-100">Вход</h4>
  <fa-icon [icon]="icons['faTimes']" (click)="close()" class="pointer"></fa-icon>
</div>

<div class="modal-body">

  <ul class="nav nav-pills mb-4 mt-3 d-flex justify-content-center w-100" id="tabs" role="tablist">
    <li class="login-custom-tab" role="presentation">
      <button class="login-tab active" id="registration-tab" data-bs-toggle="pill" data-bs-target="#registration" type="button" role="tab" aria-controls="registration" aria-selected="true">Регистриране</button>
    </li>
    <li class="login-custom-tab" role="presentation">
      <button class="login-tab" id="login-tab" data-bs-toggle="pill" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="false">Вход</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
<!--REGISTER TAB-->
    <div class="tab-pane fade show active" id="registration" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      <app-register></app-register>
    </div>

<!--LOGIN TAB-->
    <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
      <app-login></app-login>
    </div>
  </div>
</div>
