<div class="product position-relative my-3" [id]="receivedData['id']" (mouseenter)="productHovered()" (mouseleave)="productHovered()">

  <div class="d-flex position-absolute w-100 z-1 text-uppercase">
    <div class="col-sm-6 col-md-6" *ngIf="isButtonHovered" [@fadeInOut]>
      <a class="btn btn-pr-transparent w-100 text-center rounded-t-l">
        <fa-icon [icon]="icons['faHeart']"></fa-icon>
        любим
      </a>
    </div>
    <div class="col-sm-6 col-md-6" *ngIf="isButtonHovered" [@fadeInOut]>
      <a class="btn btn-pr-transparent w-100 text-center rounded-t-r">
        <fa-icon [icon]="icons['faCompress']"></fa-icon>
        сравни
      </a>
    </div>
    <img src="../../../assets/images/icons/EkoTex-warranty.svg" class="position-absolute guarantee" alt="Mattress guarantee">
    <span *ngIf="isPromo" class="onsale d-flex align-items-center position-absolute z-3 justify-content-center">
      <fa-icon [icon]="icons['faArrowDown']"></fa-icon>&nbsp;{{receivedData['sale_percentage']}} %
    </span>
  </div>

  <!--    IMAGES CONTAINER    -->
  <div class="position-relative img-container d-flex align-items-center">
    <a (click)="navigateProduct(receivedData['id'])" class="pointer">
      <img [src]="receivedData['picture']" class="img-fluid rounded-top-3" alt="Mattress image">
    </a>
    <img src="assets/images/badges/badge-new.png" class="position-absolute bottom-0 start-0 size-48px" alt="Badge">
  </div>

  <div class="d-flex flex-column px-3">
    <div class="d-flex align-items-center my-3">
      <div class="d-flex align-items-center">
        <div *ngFor="let _ of Array(5), let i = index">
          <fa-icon [icon]="icons['faStar']" *ngIf="starRating <= i + 1"></fa-icon>
          <fa-icon [icon]="icons['faStarSolid']" class="star-fill" *ngIf="starRating > i + 1"></fa-icon>
        </div>
      </div>
      <span class="text-muted fs-12px ms-2">({{starRating}})</span>
    </div>

    <div class="d-flex flex-column px-2">
      <div class="pr-title-container">
        <a (click)="navigateProduct(receivedData['id'])" class="pointer"><h3 class="pr-title">{{receivedData['name_bg']}}</h3></a>
      </div>
      <p class="price">{{this.minPrice}} лв. - {{this.maxPrice}} лв.</p>
    </div>

    <div class="attribute-container text-uppercase">

      <!--      ATTRIBUTES ONE ROW      -->
      <div class="d-flex border-dashed py-2">
        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/att-height.svg" class="attribute-img" alt="Mattress height">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">височина</span>
            <a class="attribute-description"><span>{{receivedData['width_bg']}}</span></a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/cat-orthopedic-mattresses.svg" class="attribute-img" alt="Mattress category">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">категория</span>
            <a class="attribute-description"><span>{{receivedData['category_name_bg']}}</span></a>
          </div>
        </div>
      </div>

      <!--      ATTRIBUTES ONE ROW      -->
      <div class="d-flex border-dashed py-2">
        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/EkoTex_Masajirasht-Efekt.svg" class="attribute-img" alt="Mattress height">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">ефект</span>
            <a class="attribute-description"><span>{{receivedData['effect_bg']}}</span></a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/EkoTex_4Lastichni-Lenti.svg" class="attribute-img" alt="Mattress category">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">калъф</span>
            <a class="attribute-description"><span>{{receivedData['cover_bg']}}</span></a>
          </div>
        </div>
      </div>

      <!--      ATTRIBUTES ONE ROW      -->
      <div class="d-flex border-dashed py-2">
        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/EkoTex_Terapevtichen-Textil.svg" class="attribute-img" alt="Mattress height">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">материал</span>
            <a class="attribute-description"><span>{{receivedData['material_bg']}}</span></a>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 d-flex">
          <div class="attribute">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <span class="attribute-title">гаранция</span>
            <a class="attribute-description"><span>{{receivedData['guarantee']}} год.</span></a>
          </div>
        </div>
      </div>

      <div class="d-flex py-2">
        <div class="col-sm-12 col-md-12 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/EkoTex-hardness.svg" class="attribute-img" alt="Mattress hardness">
          </div>
          <div class="d-flex flex-column justify-content-center w-100">
            <div class="d-flex">
              <span class="attribute-description m-0 pe-1">твърдост:</span>
              <span class="attribute-description m-0">{{receivedData['hardness_bg']}}</span>
            </div>
            <div class="d-flex w-100 mt-1 gap-2">
              <ngb-progressbar
                class="progress-hardness"
                type="success"
                [value]="i < progressCountHardness ? 100 : i === progressCountHardness ? progressWidthHardness : 0"
                style="width: calc(100% / 7)"
                *ngFor="let _ of Array(7); let i = index;"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex py-2">
        <div class="col-sm-12 col-md-12 d-flex">
          <div class="attribute">
            <img src="../../../assets/images/icons/EkoTex-class.svg" class="attribute-img" alt="Mattress hardness">
          </div>
          <div class="d-flex flex-column justify-content-center w-100">
            <div class="d-flex">
              <span class="attribute-description m-0 pe-1">клас:</span>
              <span class="attribute-description m-0">{{receivedData['class_bg']}}</span>
            </div>
            <div class="d-flex w-100 mt-1 gap-2">
              <ngb-progressbar
                class="progress-hardness"
                type="success"
                [value]="i < progressCountClass ? 100 : i === progressCountClass ? progressWidthClass : 0"
                style="width: calc(100% / 7)"
                *ngFor="let _ of Array(7); let i = index;"
              />
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="w-100">
    <a class="btn btn-pr-open mt-2 text-uppercase" [ngClass]="{'btn-pr-open-hovered': isButtonHovered}" (click)="navigateProduct(receivedData['id'])" #btnElement>разгледай</a>
  </div>

</div>
