<section>
  <div class="d-flex flex-column">
    <h2 class="title">Избрани <span class="headline-accent">Матраци</span></h2>
    <h3 class="title-sub">Произведени в България</h3>
  </div>

  <div class="row">


    <div class="col-sm-6 col-md-4">
      <app-product-card></app-product-card>
    </div>
    <div class="col-sm-6 col-md-4">
      <app-product-card></app-product-card>
    </div>
    <div class="col-sm-6 col-md-4">
      <app-product-card></app-product-card>
    </div>

  </div>

</section>
