/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --dynamic-text-color: #78B833;
  --sub-gray: #757575;
  --product-title-color: #212121;
  --white-color: #fff;
  --black-color: #000;
  --product-card-button: #E7E7E7;
  --product-card-button-color: #909090;
  --product-card-button-hover: #0881a8;
  --product-card-button-transparent: #FFFFFF1C;
  --products-link-hover: #78B833;
  --products-onsale: #F44336;
  --size-label-color: #9e9e9e;
  --add-to-cart-hover: #548123;
  --primary-hover: #00B1EB;
}

body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Sofia Sans', sans-serif;
}

a {
  color: var(--black-color);
  text-decoration: none !important;
}

h1, .fs1 {
  font-size: 72px !important;
  font-weight: 800 !important;
  letter-spacing: 2px !important;
  color: var(--black-color) !important;
}

h2, .fs-2{
  font-size: 42px !important;
  font-weight: 700 !important;
  line-height: 44px !important;
  letter-spacing: .8px !important;
  color: var(--black-color) !important;
}

/* START: TITLES STYLES */

.title-sub {
  font-size: 19px;
  color: var(--sub-gray);
  text-align: center;
  line-height: 1;
  margin: 10px 0 20px 0;
  font-weight: 600;
}

.headline-accent {
  color: var(--dynamic-text-color);
}

.pr-title {
  font-size: 24px;
  color: var(--product-title-color);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.price {
  font-size: 17px;
  font-weight: 600;
  color: var(--sub-gray);
}

.attribute-title {
  font-size: 8.5px;
  font-weight: 600;
  line-height: 9px;
  color: var(--sub-gray);
}

.attribute-description {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  margin-top: 2px;
  color: var(--product-title-color) !important;
  transition: color .3s ease;
}

.attribute-description:hover{
  color: var(--products-link-hover) !important;
  cursor: pointer;
  transition: color .3s ease;
}

/* END: TITLE STYLES */

/* START: BUTTON STYLES */

.btn-primary, .btn-secondary {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
  font-size: 19px !important;
  padding: 10px 24px !important;
  border-radius: 3px !important;
  font-weight: 700;
  text-transform: uppercase;
  border: none !important;
  transition: all .3s;
}

.btn-primary:hover {
  background-color: var(--primary-hover) !important;
  color: var(--white-color) !important;
  transition: all .3s;
}

.btn-primary:hover .btn-icon, .btn-secondary:hover .btn-icon {
  filter: invert(99%) sepia(96%) saturate(12%) hue-rotate(235deg) brightness(103%) contrast(100%);
  transition: all .3s;
}

.btn-secondary:hover {
  background-color: var(--dynamic-text-color) !important;
  color: var(--white-color) !important;
  transition: all .3s !important;
}


.btn-pr-open{
  background-color: var(--product-card-button);
  color: var(--product-card-button-color);
  font-size: 11px;
  font-weight: 900;
  padding: 15px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  align-content:center;
  transition: all 0.5s ease;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.btn-pr-open-hovered {
  background-color: var(--product-card-button-hover) !important;
  color: var(--white-color) !important;
  transition: all 0.5s ease;
}

.btn-pr-transparent {
  background-color: var(--product-card-button-transparent);
  color: var(--sub-gray);
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  transition: all 0.5s ease;
}

.btn-pr-transparent:hover {
  background-color: var(--products-link-hover);
  color: var(--white-color);
  transition: all 0.5s ease;
  border-radius: 0;
}

.btn-accordion {
  font-size: 16px;
  color: var(--sub-gray);
  font-weight: 700;
  transition: all .3s ease;
}

.btn-accordion:hover {
  color: var(--add-to-cart-hover);
  transition: all .3s ease;
}


/* END: BUTTON STYLES */

/* START: PRODUCT CARD STYLES */

.product {
  border-radius: 10px;
  margin: 0 10px;
  background-color: white;
}

/* END: PRODUCT CARD STYLES */

/* START: CONTAINERS STYLES */

.pr-title-container{
  max-height: 50px;
  min-height: 50px;
}

.products {
  background-color: var(--white-color);
}

/* END: CONTAINERS STYLES */

/* START: COMMON STYLES */

.attribute-img {
  height: 38px;
  width: 38px;
}

.btn-icon {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}

.attribute {
  margin-right: 10px;
  min-width: 38px;
  max-width: 38px;
  min-height: 38px;
  max-height: 38px;
}

.border-dashed {
  border-bottom: 1px dashed var(--sub-gray);
}

.rounded-t-l {
  border-top-left-radius: 10px !important;
}

.rounded-t-r {
  border-top-right-radius: 10px !important;
}

.guarantee {
  height: 80px;
  width: 80px;
  top: 40px;
}

.onsale {
  height: 50px;
  width: 50px;
  background-color: var(--products-onsale);
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}

.size-48px {
  height: 48px;
  width: 48px;
}

.pointer {
  cursor: pointer;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000c5'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000c5'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.bg-subtle-gray {
  background-color: #f4f4f4 !important;
}

.fs-12px {
  font-size: 12px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.secondary-hover:hover {
  color: var(--products-link-hover) !important;
  transition: all .3s;
}

.secondary-hover:hover a {
  color: var(--products-link-hover) !important;
  transition: all .3s;
}

.primary-hover:hover, .primary-hover:hover a  {
  color: var(--primary-hover) !important;
  transition: all .3s;
}

.primary-hover:hover .btn-icon{
  filter: invert(77%) sepia(52%) saturate(6562%) hue-rotate(157deg) brightness(94%) contrast(102%);
}

.text-secondary-hover:hover {
  color: var(--products-link-hover);
  transition: all .3s;
}

.text-secondary-hover {
  color: var(--black-color);
  transition: all .3s;
}

.size-95px {
  width: 95px;
  height: 95px;
}

.category {
  padding: 25px;
  border: 3px solid #f4f4f4;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transition: all .5s;
}

.category:hover {
  background-color: var(--products-link-hover);
  transition: all .5s;
}

.category img {
  filter: invert(48%) sepia(2%) saturate(93%) hue-rotate(314deg) brightness(93%) contrast(86%);
  transition: all .5s;
}

.category:hover img{
  filter:invert(96%) sepia(0%) saturate(7500%) hue-rotate(132deg) brightness(94%) contrast(123%);
  transition: all .5s;
}

.category-sub {
  color: var(--sub-gray);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

/* END: COMMON STYLES */
