.facebook-btn {
  background-color: rgb(24, 120, 242);
  border: 1px solid rgb(24, 120, 242);
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-weight: 700;
}

.facebook-icon {
  left: 40px;
}

.or-email {
  padding: 1rem;
}

.or-email span {
  background-color: var(--white-color);
  padding: 0px 1rem;
  color: rgb(204, 204, 204);
  font-weight: 700;
  line-height: 24px;
  z-index: 1;
}

.or-email::after {
  content: "";
  position: absolute;
  height: 1px;
  inset: 0px -1rem;
  background-color: rgb(229, 229, 229);
  margin: auto;
}
